<% @posts.each do |post| %>
<div class="post_wrapper">
  <%= link_to profile_path(post.user) do %>
      <%= image_tag post.user.avatar.url(:medium) , class: "poster_photo"%>
      <div class="top_poster">
        <%= post.user.name.capitalize %>
        <%= post.user.surname.capitalize %>
  <% end %>
    Submitted <%= time_ago_in_words(post.created_at) %> Ago
  </div>
  <h4 class="title"><strong><%= link_to post.title.capitalize ,post%></strong></h4>
  <div style="padding: 0px 0px 0px 30px;">
    <div class="img-circle">
        <%= image_tag post.post_image.url(:medium) , class: "circle"%>
    </div>
    <div class="body">
      <% if post.body.length > 250%>
          <%= truncate(post.body, length: 250) %>
          <a><%= link_to 'Read more', post_path(post) %></a>

      <% else %>
          <%= post.body %>

      <% end %>


    </div>
  </div>
</div>
<% end  %>